*{
    font-family: sans-serif;
    /* box-sizing: border-box; */
}
.header{
    text-align: left;
    padding-left: 30px;
    padding-top: 120px;
    background-image: url(images/donation2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 85vh;
}
.paragraph{
    font-size:24px;
}
.description{
    font-size: 24px;
    text-align: center;
}
.button{
    cursor: pointer;
    border: none;
    background-color:red;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    
 }
.title-1{
    font-size: 60px;
    font-size: 700;
}
.title-2{
    font-size:50px;
    text-align: center;
}
.dt{
    text-align:center;
    margin-top: 100px;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    font-size: 30px;
  }
.p{
    display: flex;
    margin-left: 200px;
    border: 1px solid black;
    padding: 12px 6px;
    background-color:green;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 10px;
}
.p2{
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: 30px;
    opacity: 50%;
    text-decoration: none;
}
.submit{
    padding: 5px 8px;
    margin-left: 10px;
}

.section-title{
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 20px;padding-top: 30px;
}
.work-description{
    background-color: #FFF8F3;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 16px; 
    }
.section-description{
    color:#757575 ;
    }
.section-container{
    display: flex ;
    gap: 24px;
    }
    .section-1{
    background-color:aquamarine;
    opacity: 90%;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px 25px;
    margin: 50px;
    }
    .section-2{
    background-color: lightpink;
    opacity: 90%;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px 25px;
    margin: 50px;
    }
    .section-3{
    background-color: lightseagreen;
    opacity: 90%;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px 25px ;
    margin: 50px;
    }
.title-3{
    text-align: left;
    }
.title-3{
    font-size: 50px;
    text-align: left;
    }
.description-htc{
    font-size: 24px;
    text-align: left;
}
.htc{
    width: 700px;
    height: 400px;
    top: 75px;
    left: 200px;
}

.title-4{
    font-size: 50px;
    
}
.tnuts{
    
    text-align: right;
    width: auto;
    margin-left: 50%;
    height: 400px;
    top: 75px;
    right: 200px;
    margin-right: 0px;
    image
}
.title-gmu{
text-align: center;
font-size:50px;
}
.description-gmu{
font-size: 24px;
text-align: center;
}
.inputs{
    padding: 50px 250px;
    text-align: center;
    border:none ;
    background-color:#757575;
}
.email{
    width: 250px;
    height: 34px;
    padding-left: 15px;
}
.subscribe{
    height: 34px;
    background-color: red ;
    border: none;
    cursor: pointer;
    color: white;
    
}